<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/movil.css'/>
    <script
            src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.4/js.cookie.min.js"
            integrity="sha512-DF5DhxxAENLykNDZZmEAzK24nMCg7JvZ9Cqr+oFspKO4LZFC2CuSffwb+wlAJqVf3c3uHERBDGwvK1Wph7M5gg=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
            integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="module" src="/javascripts/movil.js"></script>

</head>
<body>
    <section id="loginanonimo">
        Login Anonimo
    </section>
    <section id="loginconuser">
        Login con user
    </section>
    <section id="contenido">
        <div class="volver-atras-an"><p class="volver-atras-anp"> SALIR</p></div>
        <div id="subcontenido">
            <article id="maincontenido">
                <section>
                    <canvas id="lienzo1"></canvas>
                </section>
                <section>
                    <canvas id="lienzo2"></canvas>
                </section>
            </article></div>
    </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</html>
